* {
  margin: 0;
  padding: 0;

}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  height: 80px;
  border-bottom: solid black 1px;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  border: solid black 1px;
  padding-right: 800px;
}

.logo span {
  padding-left: 10px;
  color: black;
  color: MediumAquaMarine;

}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav span {
  padding: 20px;
  display: inline-block;
  justify-content: flex-end;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
}

.content {
  display:  flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: solid black 1px;
  width: 1300px;
}

.large {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 630px;
  border: solid black 1px;
  flex-direction: row;
  margin-right: 30px;
  height: 630px;
}


.tuna,
.monument {
  border: solid black 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-width: 0px;
    width: 100%;
}

.tuna {
  display: flex;
  align-items: center;
}

.monument {
  display: flex;
  align-items: center;
}

.orca {
  border: solid black 1px;
}
.earth {
  width: inherit;
  margin-top: 0px;
  border: solid black 1px;
}

.earth p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.camera p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.camera {
  width: inherit;
  border: solid black 1px;
}

.medium {
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 300px;
  border: solid black 1px;
  margin-right: 30px;
  height: 630px;
}

.fbi {
  border: solid black 1px;
}

.cats {
  width: 100%;
  border: solid black 1px;
}

.brooklyn {
  border: solid black 1px;
}

.small {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 240px;
  border: solid black 1px;
  height: 630px;
}

.cookie {
  height: 240px;
}

.news {
  border: solid black 1px;
}
